$blackOne: #2a3356;
$lightYellow: #e8e2e2;
$darkYellow: #f35b25;
$whiteOne: #fdfcfc;
$forText: #2a363b;

$headFont: "IBM Plex Serif", serif;
$baseFont: "Open Sans", sans-serif;

$transition: all 0.3s ease-in-out;
